body{
    margin: 0;
    background: url('spacec.png');
    /*background-size: cover;
    background:fixed;
    background-repeat: no-repeat;*/
    overflow-y: hidden;
    overflow-x: hidden;

}
.space{
    height: 300px;
    width: 300px;
    background: url('mars.png');
    
    background-size: contain;

    position: absolute;
    left: 70%;
    bottom: 40%;
    background-repeat: repeat-x;
    animation: upd 8s Linear infinite;
}
.shut{
    height: 300px;
    width: 500px;
    background: url('shut1.png');
    
    background-size: contain;
    position: absolute;
    left: 2%;
    bottom: 60%;
    background-repeat: repeat-x;
    animation: rm 4s Linear infinite;

}
.Rocket2{
    height: 500px;
    width: 300px;
    background: url('thor.png');
    background-size: contain;
    position: absolute;
    left: 31%;
    bottom: 1%;
    background-repeat: repeat-y;
    animation: fly 14s Linear infinite;
    
}
.Rocket1{
    height: 300px;
    width: 300px;
    background: url('jet.png');
    
    background-size: contain;
    position: absolute;
    left: 2%;
    bottom: 92%;
    background-repeat: repeat-y;
    animation: fly2 18s Linear infinite;   
}
.all{

    height: 300px;
    width: 400px;
    background: url('kkr.png');
    
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 60%;
    bottom: 60%;
    background-repeat: repeat-x;
    animation: backup 15s Linear infinite;

}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    text-align: center;
}
.wrapper h2{
    padding: 0;
    margin: 0;
    color: rgb(248, 252, 27);
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 80px;
}
.wrapper h3{
    color: rgb(247, 173, 16);
    font-size: 35px;
    margin: 0;
    line-height: 35px;
}

.wrapper h4{
    color:#eb1506;
}

.wrapper a{
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 30px;
    display: inline-block;
    margin-top: 30px;
    transition: 2.2s;
    align-content: center;
    justify-content: center;
}

.wrapper a:hover{
    background:#eb1506 ;
    color: #0fe43d;
    box-shadow: 0 0 105px #ebc806 ;

}

span:before{
    content: ' ';
    animation: animate infinite 8s;
}


.loader-container{
    position: fixed;
    top:0; left:0;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
  }
  
  .loader-container.fade-out{
    top:-120%;
  }
  

@keyframes animate{
    0%{
        content: 'Coder';
    }
    20%{
        content: 'Developer';
    }
    40%{
        content: 'Cricketer';
    }
    60%{
        content: 'Learner';
    }
    80%{
        content: 'Analyst';
    }
    100%{
        content: 'Coder';
    }
}


@keyframes backup{
    100%{transform:translateX(-100vw)}
}

@keyframes rm{
    100%{transform:translateX(100vw)}
}

@keyframes fly2{
    100%{transform:translateY(105vh)}
}

@keyframes fly{
    100%{transform:translateY(-100vh)}
}

@keyframes upd{
    100%{transform:translateY(40px)}
    75%{transform:translateY(-40px)}
    50%{transform:translateY(40px)}
    25%{transform:translateY(-40px)}

}

@media(max-width:1000px)
{
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .conty{
        display: flex;
        flex-direction: column;
    }

    .space{
        height: 180px;
        width: 180px;
    }

    .shut{
        height: 1px;
        width: 1px;
    }

    .Rocket2{
        height: 200px;
        width: 130px;

    }

    .Rocket1{
        height: 200px;
        width: 130px;   
    }

    .all{
        height: 180px;
        width: 150px;
    }

    .wrapper h2{
        font-size: 50px;
    }

    .wrapper h3{
        font-size: 30px;
        line-height: 30px;
    }

    .wrapper a{
        font-size: 30px;
        
    }

    @keyframes backup{
        100%{transform:translateX(-100vw)}
    }
    
    @keyframes rm{
        100%{transform:translateX(100vw)}
    }

    @keyframes fly2{
        100%{transform:translateY(99vh)}
    }
    
    @keyframes fly{
        100%{transform:translateY(-100vh)}
    }

    @keyframes upd
    {
        100%{transform:translateY(30px)}
        75%{transform:translateY(-30px)}
        50%{transform:translateY(30px)}
        25%{transform:translateY(-30px)}
    
    }
}


@media(max-width:600px)
{
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .conty{
        display: flex;
        flex-direction: column;
    }

    .space{
        height: 100px;
        width: 100px;
    }

    .shut{
        height: 1px;
        width: 1px;
    }

    .Rocket2{
        height: 150px;
        width: 100px;

    }

    .Rocket1{
        height: 150px;
        width: 100px;   
    }

    .all{
        height: 100px;
        width: 150px;
    }

    .wrapper h2{
        font-size: 40px;
    }

    .wrapper h3{
        font-size: 20px;
        line-height: 20px;
    }

    .wrapper a{
        font-size: 20px;
        
    }

    @keyframes backup{
        100%{transform:translateX(-100vw)}
    }
    
    @keyframes rm{
        100%{transform:translateX(0px)}
    }

    @keyframes fly2{
        100%{transform:translateY(99vh)}
    }
    
    @keyframes fly{
        100%{transform:translateY(-100vh)}
    }

    @keyframes upd
    {
        100%{transform:translateY(20px)}
        75%{transform:translateY(-20px)}
        50%{transform:translateY(20px)}
        25%{transform:translateY(-20px)}
    
    }
}
